<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= blog.title %>
    </title>
    <%- include('./partials/fontAwesome.ejs')%>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
            defer></script>

        <link rel="stylesheet" href="/styles/styles_single.css">
        <style>
            html {
                font-family: Tahoma, sans-serif;
            }

            .container_2 {
                font-size: medium !important;
            }

            pre {
                white-space: pre-wrap;
                font-size: 1.5rem !important;
                font-family: 'Tahoma';
            }
        </style>

</head>

<body>
    <%- include('./partials//headers.ejs') %>
        <div class="container_2">
            <% if (blog) { %>

                <div class="title">
                    <h1 style="font-size: 3rem; text-align: center; font-weight: bolder;">
                        <%=blog.title%>
                    </h1>
                </div>
                <div class="img">
                    <img style="border: 0 transparent; border-radius: 5px; box-shadow: 0px 0px 10px black;"
                        src="<%= blog.imageUrl %>" alt="">
                </div>
                <div class="credits">
                    <div class="by" style="font-size: 1rem;">
                        <h4>
                            By: <%= blog.author %>
                        </h4>
                        <h4>
                            Created At: <%= blog.createdAt.toLocaleDateString() %>
                        </h4>
                    </div>
                </div>
                <div class="details">
                    <pre>
                        <%= blog.body %>
                    </pre>
                </div>
                <div class="buttons m-lg-3"
                    style="width: 70%; display: flex; flex-direction: row; justify-content: space-evenly;">
                    <!-- <button class="btn btn-outline-primary m-4" id="" style=" min-width: 40%"><a
                            style="text-decoration: none; color: inherit; " href="/edits/<%= blog._id %>">EDIT
                            ARTICLE...</a></button>
                    <button class="btn btn-outline-secondary m-4" id="" style=" min-width: 40%"><a
                            style="text-decoration: none; color: inherit; " href="/home">HOME PAGE</a></button>
                    <button class="btn btn-outline-dark m-4" id="" style=" min-width: 40%;"><a
                            style="text-decoration: none; color: inherit;" href="/blogs?limit=0">ALL ARTICLES</a>
                    </button> -->
                </div>
                <% } %>
        </div>
        <%- include('./partials/footer.ejs')%>
</body>

</html>